openapi: 3.1.0
info:
  title: Mailjet Email Campaigns Statistics API
  description: The Mailjet Email API enables sending transactional and marketing emails programmatically via JSON requests. The API also exposes resources for managing contacts, contact lists, segments, campaigns, templates, sender addresses, statistics, and event tracking. All requests use HTTP Basic authentication with an API key and secret pair issued from the Mailjet account dashboard.
  version: '3.1'
  contact:
    name: Mailjet API Support
    url: https://documentation.mailjet.com/hc/en-us
  termsOfService: https://www.mailjet.com/legal/terms/
servers:
- url: https://api.mailjet.com/v3.1
  description: Send API v3.1
- url: https://api.mailjet.com/v3
  description: REST API v3
security:
- BasicAuth: []
tags:
- name: Statistics
  description: Retrieve aggregated sending statistics
paths:
  /statcounters:
    get:
      operationId: getStatCounters
      summary: Get sending statistic counters
      tags:
      - Statistics
      servers:
      - url: https://api.mailjet.com/v3
      parameters:
      - name: SourceID
        in: query
        schema:
          type: integer
      - name: CounterSource
        in: query
        schema:
          type: string
      - name: CounterTiming
        in: query
        schema:
          type: string
      - name: CounterResolution
        in: query
        schema:
          type: string
      responses:
        '200':
          description: Statistic counters
components:
  securitySchemes:
    BasicAuth:
      type: http
      scheme: basic
      description: API key and secret used as HTTP Basic credentials
externalDocs:
  description: Mailjet API Reference
  url: https://dev.mailjet.com/email/reference/
