openapi: 3.1.0
info:
  title: Mailjet Email Campaigns Event API
  description: The Mailjet Email API enables sending transactional and marketing emails programmatically via JSON requests. The API also exposes resources for managing contacts, contact lists, segments, campaigns, templates, sender addresses, statistics, and event tracking. All requests use HTTP Basic authentication with an API key and secret pair issued from the Mailjet account dashboard.
  version: '3.1'
  contact:
    name: Mailjet API Support
    url: https://documentation.mailjet.com/hc/en-us
  termsOfService: https://www.mailjet.com/legal/terms/
servers:
- url: https://api.mailjet.com/v3.1
  description: Send API v3.1
- url: https://api.mailjet.com/v3
  description: REST API v3
security:
- BasicAuth: []
tags:
- name: Event
  description: Retrieve real-time event data
paths:
  /messagehistory/{id}:
    get:
      operationId: getMessageHistory
      summary: Get the event history of a message
      tags:
      - Event
      servers:
      - url: https://api.mailjet.com/v3
      parameters:
      - $ref: '#/components/parameters/PathId'
      responses:
        '200':
          description: Event history
components:
  parameters:
    PathId:
      name: id
      in: path
      required: true
      schema:
        type: string
  securitySchemes:
    BasicAuth:
      type: http
      scheme: basic
      description: API key and secret used as HTTP Basic credentials
externalDocs:
  description: Mailjet API Reference
  url: https://dev.mailjet.com/email/reference/
