openapi: 3.1.0
info:
  title: Mailjet Email Campaigns Contacts API
  description: The Mailjet Email API enables sending transactional and marketing emails programmatically via JSON requests. The API also exposes resources for managing contacts, contact lists, segments, campaigns, templates, sender addresses, statistics, and event tracking. All requests use HTTP Basic authentication with an API key and secret pair issued from the Mailjet account dashboard.
  version: '3.1'
  contact:
    name: Mailjet API Support
    url: https://documentation.mailjet.com/hc/en-us
  termsOfService: https://www.mailjet.com/legal/terms/
servers:
- url: https://api.mailjet.com/v3.1
  description: Send API v3.1
- url: https://api.mailjet.com/v3
  description: REST API v3
security:
- BasicAuth: []
tags:
- name: Contacts
  description: Manage contacts and properties
paths:
  /contact:
    get:
      operationId: listContacts
      summary: List contacts
      tags:
      - Contacts
      servers:
      - url: https://api.mailjet.com/v3
      parameters:
      - $ref: '#/components/parameters/Limit'
      - $ref: '#/components/parameters/Offset'
      responses:
        '200':
          description: Contact list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedContacts'
    post:
      operationId: createContact
      summary: Create a contact
      tags:
      - Contacts
      servers:
      - url: https://api.mailjet.com/v3
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Contact'
      responses:
        '201':
          description: Contact created
  /contact/{id}:
    get:
      operationId: getContact
      summary: Get a contact
      tags:
      - Contacts
      servers:
      - url: https://api.mailjet.com/v3
      parameters:
      - $ref: '#/components/parameters/PathId'
      responses:
        '200':
          description: Contact details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Contact'
    put:
      operationId: updateContact
      summary: Update a contact
      tags:
      - Contacts
      servers:
      - url: https://api.mailjet.com/v3
      parameters:
      - $ref: '#/components/parameters/PathId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Contact'
      responses:
        '200':
          description: Contact updated
components:
  parameters:
    Offset:
      name: Offset
      in: query
      schema:
        type: integer
        default: 0
    PathId:
      name: id
      in: path
      required: true
      schema:
        type: string
    Limit:
      name: Limit
      in: query
      schema:
        type: integer
        default: 10
  schemas:
    PaginatedContacts:
      type: object
      properties:
        Count:
          type: integer
        Total:
          type: integer
        Data:
          type: array
          items:
            $ref: '#/components/schemas/Contact'
    Contact:
      type: object
      properties:
        ID:
          type: integer
        Email:
          type: string
          format: email
        Name:
          type: string
        IsExcludedFromCampaigns:
          type: boolean
        CreatedAt:
          type: string
          format: date-time
  securitySchemes:
    BasicAuth:
      type: http
      scheme: basic
      description: API key and secret used as HTTP Basic credentials
externalDocs:
  description: Mailjet API Reference
  url: https://dev.mailjet.com/email/reference/
